<!--Card View-->
<div class="ui cards" *ngIf="checkAuthorize(alumnus)">
  <div class="card" style="margin-bottom: 20px">
    <div class="content">
      <div class="header">{{alumnus.name}}</div>
      <div class="meta"> Option : {{alumnus.option}} </div>
      <div class="description"> Entreprise : {{alumnus.entreprise}}</div>
      <div class="description"> Salaire : {{alumnus.salaire}}</div>
      <div class="description"> Pays : {{alumnus.pays}}</div>
      <div class="description"> Promotion : {{alumnus.promotion}}</div>

    </div>
    <div class="extra content" >
      <div class="ui two buttons">
        <div class="ui basic grey button" (click)="modifyAlumnus(alumnus.id)">Modifier</div>
        <div class="ui basic red button" (click)="this.alumnusService.delete(alumnus.id)" *ngIf="isAuthorized(alumnus)">Delete</div>
      </div>
    </div>
  </div>
</div>
<!-- Line View -->
<!-- TODO -->
