<!--div-- class="ui tiny modal visible active" *ngIf="alumnusToDelete">
  <div class="ui icon header">
    <i class="delete icon"></i>
    Delete {{alumnus.first_name}} {{alumnus.last_name}} ?
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon" (click)="this.alumnusToDelete = false; this.refresh()"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon" (click)="this.delete(alumnus._id)"></i>
      Yes
    </div>
  </div>
</div-->


<div class="ui negative message" *ngIf="errorMsg">
  <div class="header">
  </div>
  <p>{{errorMsg}}</p></div>

<!--Card View-->
<div class="ui cards" *ngIf="checkAuthorize(alumnus)">
  <div class="card" style="margin-bottom: 20px">
    <div class="content">
      <a class="header" (click)="this.goToInformation(alumnus)">{{alumnus.first_name}} {{alumnus.last_name}}</a>
      <div class="meta"> Option : {{alumnus.option}} </div>
      <div class="description"> Entreprise : {{alumnus.company}}</div>
      <div class="description"> Salaire : {{alumnus.wage}}</div>
      <div class="description"> Pays : {{alumnus.country}}</div>
      <div class="description"> Promotion : {{alumnus.graduation}}</div>
      <div class="description"> Ville : {{alumnus.city}}</div>
      <div class="description"> Job : {{alumnus.job}}</div>

    </div>
    <div class="extra content" >
      <div class="ui two buttons">
        <div class="ui basic grey button" (click)="modifyAlumnus(alumnus)">Modifier</div>
        <div class="ui basic red button" (click)="this.delete(alumnus._id)" *ngIf="isAuthorized(alumnus)">Delete</div>
      </div>
    </div>
  </div>
</div>
<!-- Line View -->
