<form [formGroup]="checkoutForm" (ngSubmit)="onclickSubmit(checkoutForm.value)"  class="ui form" >

  <label for="name">name</label>
  <input id="name" type="text" formControlName="name" >
  <label for="promotion">promotion</label>
  <input id="promotion" type="text" formControlName="promotion" >
  <label for="option">option</label>
  <!--input id="option" type="text"-->
  <select id="option" class="ui dropdown" formControlName="option">
<!--    <option selected *ngFor="let opt of options" value=opt>{{opt}}</option>-->
    <option *ngFor="let opt of options" [value]="opt">{{opt}}</option>
  </select>
  <label for="pays">pays</label>
  <input id="pays" type="text" formControlName="pays" >
  <label for="entreprise">entreprise</label>
  <input id="entreprise" type="text" formControlName="entreprise" >
  <label for="salaire">salaire</label>
  <input id="salaire" type="text" formControlName="salaire" >

  <button  class="ui button" type="submit">{{action}}</button>
</form>

