<div class="ui secondary pointing menu" style="margin-bottom: 10px">
  <a *ngIf="this.connectionService.isConnected" class="active item" routerLink="">Home</a>
  <a *ngIf="this.connectionService.isConnected" class="item" routerLink="stats">Stats</a>
  <a class="item" routerLink="RGPD">RGPD</a>


  <!-- Manage connection -->
  <div class="right menu" *ngIf="this.connectionService.isConnected">
    <a class="ui item" (click)="this.connectionService.logout()">Logout</a>
  </div>
  <div class="right menu" *ngIf="!this.connectionService.isConnected">
    <a class="ui item" (click)="login()">Login</a>
  </div>

</div>


