<!-- Error panel -->
<div class="ui negative message" *ngIf="errorMsg">
  <div class="header">
  </div>
  <p>{{errorMsg}}</p></div>

<!-- Stats-->
<div class="ui grid" style="  align-items: center; ">
  <h5 class="ui header" style="!important margin:0;"> Label :</h5>
  <select class="ui dropdown selection margin" [(ngModel)]="labelValue" (ngModelChange)="this.requestLabel($event)">
    <option *ngFor="let l of allLabels" >{{l}}</option>
  </select>

  <h5 class="ui header" style="!important margin:0;"> Value :</h5>
  <select class="ui dropdown selection margin" [(ngModel)]="valueValue" (ngModelChange)="this.requestY($event)">
    <option *ngFor="let l of allValue" >{{l}}</option>
  </select>

</div>


<div  id="chartContainer" style="width: 100%; height: 400px;margin-top : 50px;margin-bottom: 50px;"></div>
<!--div  id="chart2Container" style="width: 100%; height: 400px;margin-top : 50px;margin-bottom: 50px;"></div-->
