<br>
<form class="ui large form">
  <div class="field">
    <div class="ui left icon input">
      <i class="user icon"></i>
      <input type="text" name="email" placeholder="login" #u1>
    </div>
  </div>
  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <input type="password" name="password" placeholder="Password" #p2>
    </div>
  </div>
  <div class="ui fluid large teal submit button" (click)="login(u1.value, p2.value)">Login</div>

</form>

<span>{{ msg }}</span>
