<h4 class="ui header">Prénom</h4>
{{alumnus.first_name}}
<h4 class="ui header">Nom</h4>
{{alumnus.last_name}}
<h4 class="ui header">Email</h4>
{{alumnus.email}}
<h4 class="ui header">Entreprise</h4>
{{alumnus.company}}
<h4 class="ui header">Job</h4>
{{alumnus.job}}
<h4 class="ui header">Pays</h4>
{{alumnus.country}}
<h4 class="ui header">Ville</h4>
{{alumnus.city}}
<h4 class="ui header">Option</h4>
{{alumnus.option}}
<h4 class="ui header">Campus</h4>
{{alumnus.campus}}
<h4 class="ui header">Promotion</h4>
{{alumnus.graduation}}
<h4 class="ui header">Salaire</h4>
{{alumnus.wage}}
<h4 class="ui header">Telephone</h4>
{{alumnus.phone}}

<br>
<br>

<h3 class="ui header">Information bonus</h3>

{{scrappingResult}}

<br>
<br>
<br>
